body {
    background-color: var(--first);
}
.dashboard {
    margin-left: 5%;
}
:root {
    --first: #3a465c;
    --second: #000000;
    --third: #7f7f7f;
}
/* LANDING */
.cardsAbogados {
    margin-left: auto;
    margin-right: auto;
}
